@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Ubuntu+Mono&display=swap");
* {
  font-family: "Ubuntu Mono", monospace;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}
.calculator {
  height: 90%;
  width: 90%;
  margin: 0;
}
